<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="abs.pubs.mapper.PlsMapper" >
  <resultMap id="BaseResultMap" type="abs.pubs.domain.Pls" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="areatype" property="areatype" jdbcType="VARCHAR" />
    <result column="stardate" property="stardate" jdbcType="VARCHAR" />
    <result column="enddate" property="enddate" jdbcType="VARCHAR" />
    <result column="stdtime" property="stdtime" jdbcType="VARCHAR" />
    <result column="edtime" property="edtime" jdbcType="VARCHAR" />
    <result column="playmode" property="playmode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, areatype, stardate, enddate, stdtime, edtime, playmode
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="abs.pubs.domain.PlsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pls
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pls
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pls
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="abs.pubs.domain.PlsExample" >
    delete from pls
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="abs.pubs.domain.Pls" useGeneratedKeys="true" keyProperty="id">
    insert into pls (id, name, areatype, 
      stardate, enddate, stdtime, 
      edtime, playmode)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{areatype,jdbcType=VARCHAR}, 
      #{stardate,jdbcType=VARCHAR}, #{enddate,jdbcType=VARCHAR}, #{stdtime,jdbcType=VARCHAR}, 
      #{edtime,jdbcType=VARCHAR}, #{playmode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="abs.pubs.domain.Pls" >
    insert into pls
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="areatype != null" >
        areatype,
      </if>
      <if test="stardate != null" >
        stardate,
      </if>
      <if test="enddate != null" >
        enddate,
      </if>
      <if test="stdtime != null" >
        stdtime,
      </if>
      <if test="edtime != null" >
        edtime,
      </if>
      <if test="playmode != null" >
        playmode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="areatype != null" >
        #{areatype,jdbcType=VARCHAR},
      </if>
      <if test="stardate != null" >
        #{stardate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="stdtime != null" >
        #{stdtime,jdbcType=VARCHAR},
      </if>
      <if test="edtime != null" >
        #{edtime,jdbcType=VARCHAR},
      </if>
      <if test="playmode != null" >
        #{playmode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="abs.pubs.domain.PlsExample" resultType="java.lang.Integer" >
    select count(*) from pls
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pls
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.areatype != null" >
        areatype = #{record.areatype,jdbcType=VARCHAR},
      </if>
      <if test="record.stardate != null" >
        stardate = #{record.stardate,jdbcType=VARCHAR},
      </if>
      <if test="record.enddate != null" >
        enddate = #{record.enddate,jdbcType=VARCHAR},
      </if>
      <if test="record.stdtime != null" >
        stdtime = #{record.stdtime,jdbcType=VARCHAR},
      </if>
      <if test="record.edtime != null" >
        edtime = #{record.edtime,jdbcType=VARCHAR},
      </if>
      <if test="record.playmode != null" >
        playmode = #{record.playmode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pls
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      areatype = #{record.areatype,jdbcType=VARCHAR},
      stardate = #{record.stardate,jdbcType=VARCHAR},
      enddate = #{record.enddate,jdbcType=VARCHAR},
      stdtime = #{record.stdtime,jdbcType=VARCHAR},
      edtime = #{record.edtime,jdbcType=VARCHAR},
      playmode = #{record.playmode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="abs.pubs.domain.Pls" >
    update pls
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="areatype != null" >
        areatype = #{areatype,jdbcType=VARCHAR},
      </if>
      <if test="stardate != null" >
        stardate = #{stardate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        enddate = #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="stdtime != null" >
        stdtime = #{stdtime,jdbcType=VARCHAR},
      </if>
      <if test="edtime != null" >
        edtime = #{edtime,jdbcType=VARCHAR},
      </if>
      <if test="playmode != null" >
        playmode = #{playmode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="abs.pubs.domain.Pls" >
    update pls
    set name = #{name,jdbcType=VARCHAR},
      areatype = #{areatype,jdbcType=VARCHAR},
      stardate = #{stardate,jdbcType=VARCHAR},
      enddate = #{enddate,jdbcType=VARCHAR},
      stdtime = #{stdtime,jdbcType=VARCHAR},
      edtime = #{edtime,jdbcType=VARCHAR},
      playmode = #{playmode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>